<!-- Getting Screen Coordinates -->

<!DOCTYPE html>
<html>
    <head>
        <title>Js Mouse Demo </title>
        <style>
            #track {
                background-color:goldenrod;
                height: 200px;
                width: 400px;
            }
        </style>
    </head>

    <body>
        <p>Move mouse to the location</p>
        <div id="track"></div>
        <p id="log"></p>

        <script>
            let track = document.querySelector('#track');
            track.addEventListener('mousemove', (e) => {
                let log = document.querySelector('#log');
                log.innerText = `
                Screen X/Y: (${e.screenX}, ${e.screenY})
                Client X/Y: (${e.clientX}, ${e.clientY})`
            });
        </script>
    </body>

</html>

<!-- * The screenX and screenY properties return the horizontal and vertical coordinates of the mouse pointer in screen coordinates.

* The clientX and clientY properties of the event object return horizontal and vertical coordinates within the application’s client area at which the mouse event occurred. -->


